.u-mg-right {
    margin-right: 4rem;
}

.u-color-dark {
    color: #777;
}

.u-mg-bottom {
    margin-bottom: 3rem;
}

.u-mg-top {
    margin-top: 3rem;
}

.u-mg-top-small {
    margin-top: 2rem;
}

.u-mg-bottom-small {
    margin-bottom: 1rem;
}

.u-mg-left {
    margin-left: 3rem;
}

.u-mg-right-small {
    margin-right: 2rem;
}

.u-align {
    text-align: center;
}

.color1 {
    color: #525456;
}

.border-top {
    border-top: 1px solid #E0E2E5;
}

.margin-bottom {
    padding-bottom: 2rem;
}

.u-mg-left-small {
    margin-left: 1rem;
}