.button {
    &__btn {
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-primary;        
        border: none;
        cursor: pointer;
        border-radius: 20px;
        margin-left: 2rem;

        &--active {
            border: none;
            padding: 1rem 2.2rem;
            color: #fff;
            background-color: $color-primary;

            &:hover {
                background-color: $color-primary-dark;
            }

        }
    }
}