.section-intro {
    height: 75vh;
    padding: 2rem 10rem;
    background: linear-gradient(to right bottom, rgba($color-1, .9), rgba($color-2, .9), rgba($color-3, .9), rgba($color-4, .9));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.section-display {
    padding: 1rem 41rem;
}

.section-cloud {
    background-color: $color-grey-light-3;
    height: 120rem;
    padding: 3rem;
}

.section-started {
    background-image: url(../../img/banner.jpg);
    padding: 1rem;
    height: 43vh;
    margin-bottom: 8rem;
}

.section-creative {
    height: 75rem;
}

.section-questions {
    height: 58rem;
    
}

.section-metarverse {
    height: 80vh;
    background-image: url(../../img/autoit_fire3.jpg);
    background-size: cover;
}

.section-gradient{
    height: 2rem;
    background: linear-gradient(to right bottom, rgba($color-1, .9), rgba($color-2, .9), rgba($color-3, .9), rgba($color-4, .9));
}

.section-plan {
    background-color: black;
    height: 90vh;
    margin-bottom: 5rem;
}

.section-photography {
    height: 60vh;
}

.adobe-footer {
    background-color: $color-grey-light-3;
    height: 60rem;
    position: relative;
}